@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v17/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVuEorCIPrE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  --gold: #ffea00;
  --goldBorder: 1em solid var(--gold);
}

body {
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
}

.slideshow {
  display: flex;
  flex-direction: row;
  transition: transform 0.75s;
}

.slide {
  height: 100vh;
  width: 100vw;
  font-size: 1.5rem;
}

.slide__inner {
  position: relative;
  max-height: 90vh;
  max-width: 90vw;
  height: 100%;
  width: 100%;
  margin: 5vh 5vw;
  padding: 1em;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.50);
}

.slide__inner::before,
.slide__inner::after {
  content: '';
  position: absolute;
  border-color: var(--gold);
  width: 10vw;
  height: 10vh;
}

.slide__inner::before {
  top: -1em;
  right: -1em;
  border-top: var(--goldBorder);
  border-right: var(--goldBorder);
  z-index: -1;
}

.slide__inner::after {
  bottom: -1em;
  left: -1em;
  border-bottom: var(--goldBorder);
  border-left: var(--goldBorder);
  z-index: -1;
}

.slide img {
  transition: filter 0.75s;
}

.idyll-text-container {
  max-width: 90% !important;
}

.article-header a {
  color: #222;
}

.article-header {
  padding-top: 1em;
  padding-bottom: 0;
}

h1.hed {
  font-size: 3.5em;
}
